.homeBody{
    .navs{
        margin: 1rem;
        display: flex;
        justify-content: space-around;

        .btn-nav{
            transition: transform 250ms;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    .roadmaps{
        
        margin-bottom: 10px;
        .enrolledRoads{
            padding: 3rem;
            background-image: linear-gradient(45deg, #0C71CE, #BCE6FF);
            h2{
                text-align: center;
                width: 100%;
                margin-bottom: 3rem; 
            }
            
                .roads{
                    .roadmap{
                        box-shadow: none;
                        transition: transform 250ms;
                        &:hover{
                            transform: scale(1.1)
                        }
                    }
                    display: flex;
                    justify-content: space-around;
            }
        }

        .allRoads{
            padding:0 0  2rem 0;
            margin: auto;
            //background-color: gray;
            width: 80%;
            .title{
                text-align: center;
                width: 100%;
                margin: 3rem 0; 

            }
            .roads{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                gap: 3rem;

                .roadmap{
                    cursor: pointer;
                    transition: transform 250ms;
                    &:hover{
                        transform: scale(1.1);
                    }
                    .infos{
                        .title{
                            margin: 0;
                        }
                        .rating{
                            margin: 0;
                        }
                    }
                }
            }

            .button{
                display: flex;
                justify-content: center;
                .btn{
                    background-color: var(--main-orange);
                    border-radius: 20px;
                    margin-top: 2rem;
                }
            }
        }
        
    }
}