.NavBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: var(--nav-size);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
    
    .logo{
        height: 100%;
        transition: transform 250ms;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }

        img{
            height: 100%;    
        }
    }

    .navigations{
        width: 60%;
        display: flex;
        justify-content: flex-start;
        margin-left: 1rem;  
    }

    .login{
        display: flex;
        button{
            border-radius: 20px;
            padding: .2rem 2.5rem;
        }
        .btn-login{
            color: var(--main-orange);
            background-color: transparent;
            outline: solid var(--main-orange) .1rem;
        }

        
    }

    .profile{
        .dropdownMenu{
            display: flex;
            margin: 0;
            align-items: center;
            gap: 2px;
            
            .profileImg{
                img{
                    height: calc(var(--nav-size) * .9);
                }
            }
            .menuItem{
                width: 90%;
                .noti{
                    cursor: pointer;
                    width: 100%;
                    transition: transform 250ms;
                    &:hover{
                        transform: scale(1.1);
                    }
                }


                .menu{
                    cursor: pointer;
                    width: 70%;
                    transition: transform 250ms;
                    &:hover{
                        transform: scale(1.1);
                    }
                }

            }
        }
    }
}