.roadmap{
    // background-color: var(--gray);
    border-radius: 5px;
    background-color: var(--white);
    height: var(--road-height);
    width: var(--road-width);
    padding: 0;
    justify-content: flex-start;
    border: solid var(--gray) 1px;
    .image{
        width: 100%;
        height: 70%;

        img{
            border-radius: 5px 5px 0 0;
            width: 100%;
            height: 100%;
        }
    }

    .infos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 25%;
        width: 100%;
        padding: 0 10px;
        .title{
            max-width: 50%;
            font-size: 20px;
            p{
                margin: 0;
            }
        }
        .rating{
            display: flex;
            align-items: center;
            margin-top: 1rem;
        }
        
    }

}